* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: #F8F8F8;
    font-family: 'Helvetica', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #FFF;
}

/**
 * Titles
 */
.title {
    margin: 0.5em 0 0.75em 0;
}
.title-lg {
    font-size: 2.5em;
}
.title-lead {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 0.5em;
}

/**
 * Paragraphs
 */
p {
    font-size: 0.9em;
    line-height: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p.lead {
    font-size: 1.35em;
    line-height: 1.3em;
    font-weight: 300;
}

.description {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 75px;
    background-color: rgb(3, 169, 224);
}
.description p {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
    margin-top: 0;
    text-align: justify;
    letter-spacing: 1px;
}

/**
 * Author
 */
.author-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100px;
    bottom: -50px;
}
.author-container img {
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

/**
 * Content
 */
.content img {
    float: left;
    margin-right: 1em;
    max-width: 40%;
    border-bottom: 10px solid rgb(3, 169, 224);
}

.content blockquote {
    font-size: 1.15em;
    line-height: 1.35em;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

footer {
    display: flex;
    align-content: space-between;
    align-items: center;
    background-color: #cecece;
    margin-left: -1em;
    margin-right: -1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 100px;
}
footer a {
    color: rgb(97, 97, 97);
}