* {
  font-family: "Suez One", "Arial", sans-serif;
}

p {
  font-size: 14px;
  line-height: 1.4em;
}

blockquote {
  font-style: italic;
}

img {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 100%;
  display: block;
}

/**
 * Menu de navegacion
 */
.navbar {
  width: 100%;
  max-width: 300px;
}
.navbar ol {
  padding: 0;
}
.navbar li {
  margin-bottom: 10px;
  list-style: none;
  border-bottom: 1px solid #cbcbcb;
}
.navbar a {
  font-size: 14px;
  line-height: 1.5em;
  text-decoration: none;
  color: #7baaf7;
  font-weight: 500;
}
.navbar a:hover:not([disabled]) {
  color: #467acc;
}

/**
 * Links y Botones
 */
a[disabled],
button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.docs,
.back {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: #7baaf7;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
}
.docs + .docs {
  margin-left: 10px;
}
.back {
  background: transparent;
  color: #7baaf7;
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
}

pre,
code,
pre span {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

code {
  background-color: #cbcbcb;
  color: #222;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 13px;
}

.prettyprint code {
  background-color: inherit;
  color: inherit;
  padding: inherit;
  border-radius: inherit;
  font-size: inherit;
}

h1 code,
h2 code {
  font-size: 28px;
}
h3 code {
  font-size: 20px;
}

/**
 * Caja
 */
.caja ul {
  list-style: none;
  margin-left: 0;
  padding-left: 15px;
  text-indent: -15px;
}
.caja li {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.caja li:before {
  font-family: "Consolas", "Courier", "Courier New", monospace;
  font-size: 10px;
  content: ">_ ";
}
.caja li code {
}

/**
 * Notas
 */
.note {
  background: #fff3d4;
  border-left: solid 3px #f6b73c;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.5em;
}

/**
 * Estilos para los ejemplos
 */
.example-hover {
  font-size: 12px;
}
.example-hover:hover {
  font-size: 24px;
}
.example-active {
  background: transparent;
}
.example-active:active {
  color: white;
  background: red;
}
.example-focus {
  border: none;
}
.example-focus:focus {
  border: 1px solid green;
}

.example-first-last-child p {
  background: violet;
}
.example-first-last-child p:first-child {
  background: green;
}
.example-first-last-child p:last-child {
  background: cyan;
}

.example-first-line-letter .capitular::first-letter {
  font-size: 24px;
}
.example-first-line-letter p.destacado::first-line {
  color: blue;
}

/**
 * Estilos para los ejemplos sobre Tipografias
 */
.example-columns p {
  columns: 3 12px;
}

.example-align .align-left {
  text-align: left;
}
.example-align .align-right {
  text-align: right;
}
.example-align .align-center {
  text-align: center;
}
.example-align .align-justify {
  text-align: justify;
}

/**
 * Estilos de la libreria prittyprint
 */
pre.prettyprint {
  max-width: 100%;
}
pre.prettyprint code {
  display: block;
  max-width: 100%;
  padding: 15px;
  line-height: 1.2em;
  border-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}
