* {
  font-family: "Suez One", "Arial", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

p {
  font-size: 0.875rem;
  line-height: 1.4rem;
}

blockquote {
  font-style: italic;
}

img {
  margin-bottom: 20px;
  max-width: 100%;
  display: block;
}
img.center {
  margin: 0 auto;
}

/**
 * Menu de navegacion
 */
.navbar {
  width: 100%;
  max-width: 300px;
}
.navbar ol {
  padding: 0;
}
.navbar li {
  /* margin: 5px 0 0.9375rem 0; */
  list-style: none;
}
.navbar li a {
  display: block;
  line-height: 2rem;
  border-bottom: 1px solid #cbcbcb;
}

.navbar li a:before {
  font-family: "Consolas", "Courier", "Courier New", monospace;
  font-size: 10px;
  content: ">_ ";
  display: inline-block;
  margin-right: 1rem;
}
.navbar ol ol li a {
  padding-left: 2rem;
}
.navbar li li {
  margin-bottom: 0;
}
.navbar a {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #467acc;
  font-weight: 600;
  padding: 4px 8px;
}
.navbar a:hover:not([disabled]) {
  background-color: #2d64ba;
  color: white;
}

/**
 * Links y Botones
 */
a[disabled],
button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.docs,
.back {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #7baaf7;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
}
.docs + .docs {
  margin-left: 10px;
}
.back {
  background: transparent;
  color: #7baaf7;
  font-size: 0.75rem;
  padding-left: 0;
  padding-right: 0;
}

pre,
code,
pre span {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

code {
  background-color: #cbcbcb;
  color: #222;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.8125rem;
}

.prettyprint code {
  background-color: inherit;
  color: inherit;
  padding: inherit;
  border-radius: inherit;
  font-size: inherit;
}

h1 code,
h2 code {
  font-size: 28px;
}
h3 code {
  font-size: 20px;
}

/**
 * Caja
 */
.caja .row {
  margin-bottom: 1em;
}
.caja ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0.9375rem;
  text-indent: -0.9375rem;
}
.caja li {
  font-size: 0.875rem;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.caja ul li:before {
  font-family: "Consolas", "Courier", "Courier New", monospace;
  font-size: 10px;
  content: ">_ ";
}
.caja ul li code {
}

/**
 * Notas
 */
.note {
  background: #fff3d4;
  border-left: solid 3px #f6b73c;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 30px;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/**
 * Estilos de la libreria prittyprint
 */
pre.prettyprint {
  max-width: 100%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

pre.prettyprint code {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.9375rem;
  line-height: 1.2rem;
  border-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

@media print {
  html {
    font-size: 14px;
  }
  .docs,
  .back {
    display: none;
  }
}
